<form #f="ngForm" (ngSubmit)="submit(f)">
  <div ngModel="contact" #contact="ngModelGroup">
    <div *ngIf="!contact.valid">...</div>
    <div class="form-group">
      <label for="firstName"> First Name </label>
      <input
        required
        ngModel
        minlength="3"
        maxlength="10"
        pattern="banana"
        name="firstName"
        #firstName="ngModel"
        (change)="log(firstName)"
        type="text"
        class="form-control"
        id="firstName"
      />
      <div
        class="alert alert-danger"
        *ngIf="firstName.touched && !firstName.valid"
      >
        <div *ngIf="firstName.control.errors?.required">
          First name is required
        </div>
        <div *ngIf="firstName.control.errors?.minlength">
          First name should be minium 3 characters.
        </div>
        <div *ngIf="firstName.control.errors?.maxlength">
          First name should be maximum 10 characters.
        </div>
        <div *ngIf="firstName.control.errors?.pattern">
          First name doesn't match the pattern
        </div>
      </div>
      <!-- /.alert alert-danger -->
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label
      ><input type="checkbox" ngModel name="isSubscribed" /> Subscribe to
      mailing list</label
    >
  </div>
  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value=""></option>
      <option *ngFor="let method of contactMethods" value="method.id">
        {{ method.name }}
      </option>
    </select>
  </div>
  <div class="radio" *ngFor="let method of contactMethods">
    <label>
      <input ngModel type="radio" name="contactMethod" [value]="method.id" />
      {{ method.name }}
    </label>
  </div>
  <p>
    {{ f.value | json }}
  </p>
  <button type="button" [disabled]="!f.valid" class="btn btn-primary">
    Submit
  </button>
</form>
